<div class="post-line">

    {{ $dateFormat := "2 Jan 2006"}}
    {{ with .Site.Params.listDateFormat }}
    {{ $dateFormat = .}}
    {{ end }}

    <p class="line-date">{{ .Date | time.Format $dateFormat }} </p>

    <div>
        <p class="line-title">
            <a href="{{ .RelPermalink }}">
                {{ .Title }}
            </a>
        </p>

        {{ if .Site.Params.listSummaries }}
        <p class="line-summary"> {{ .Summary }} </p>
        {{ end }}

        <button onclick="toggleContent('{{ .File.Path }}')">Read more...</button>
        <div id="{{ .File.Path }}" style="display: none;">
            
            {{ if .Param "showTags" }}
            {{ $taxonomy := "tags" }}
            {{ with .Param $taxonomy }}
            <div class="post-tags">
                {{ range $index, $tag := . }}
                {{ with $.Site.GetPage (printf "/%s/%s" $taxonomy $tag) -}}
                <span class="tag">
                    <a href="{{ .Permalink }}">#{{ .LinkTitle }}</a>
                </span>
                {{ end }}
                {{ end }}
            </div>
            {{ end }}
            {{ end }}

            {{ .Content }}

        </div>
    </div>
</div>

<script>
function toggleContent(id) {
    var content = document.getElementById(id);
    if (content.style.display === "none") {
        content.style.display = "block";
    } else {
        content.style.display = "none";
    }
}
</script>