<div class="post-line">

    {{ $dateFormat := "2 Jan 2006"}}
    {{ with .Site.Params.listDateFormat }}
    {{ $dateFormat = .}}
    {{ end }}

    {{ if .Site.Params.showPostDate }}
    <p class="line-date">{{ .Date | time.Format $dateFormat }} </p>
    {{ end }}
    <div>
        <p class="line-title">
            <a href="{{ .RelPermalink }}">
                {{ .Title }}
            </a>
        </p>

        {{ if .Site.Params.listSummaries }}
        <p class="line-summary"> {{ .Summary }} </p>
        {{ end }}

        <a onclick="toggleContent('{{ .File.Path }}')">Read more...</a>
        <div id="{{ .File.Path }}" class="closed-post">

            {{ if .Param "showTags" }}
            {{ $taxonomy := "tags" }}
            {{ with .Param $taxonomy }}
            <div class="post-tags">
                {{ range $index, $tag := . }}
                {{ with $.Site.GetPage (printf "/%s/%s" $taxonomy $tag) -}}
                <span class="tag">
                    <a href="{{ .Permalink }}">#{{ .LinkTitle }}</a>
                </span>
                {{ end }}
                {{ end }}
            </div>
            {{ end }}
            {{ end }}

            {{ .Content }}

        </div>
    </div>
</div>

<script>
function toggleContent(id) {
    var content = document.getElementById(id);
    if (content.classList.contains("closed-post")) {
        content.classList.remove("closed-post");
        content.classList.add("expanded-post");
    } else {
        content.classList.remove("expanded-post");
        content.classList.add("closed-post");
    }
}
</script>